@import './variables.scss';
@import './reset.scss';
@import './iconfont.scss';

html, body {
  height: 100%;
}

.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mint-header {
  background: #000;
  height: 50px;
}

.font24 {
  font-size: 24px;
}

.form-invalid {
  color: #ffbf1d;
  .mint-toast-icon {
    font-size: 22px;
  }
  .mint-toast-text {
    font-size: 12px;
  }
}

.v-enter-active, .v-leave-active {
  transition: all 0.3s;
}
.v-enter, .v-leave-to {
  transform: translateX(100%);
}
