.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yuexue.log*
package-lock.json
avatar/
!avatar/default

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln